/* 
RED: rgb (227, 24, 55)
BLUE: rgb (41, 68, 129) 
*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

footer {
    padding: 40px 0;
    background-color: rgb(41, 68, 129);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .boa-logo {
    width: 25%;
}

nav {
    margin: 30px 0;
}

ul {
    list-style-type: none;
}

.Footer li {
    color: white;
}

.socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-container img {
    width: 40px;
    margin: 0 25px;
}

.fdic-copyright-container {
    margin-top: 20px;;
}

p {
    font-size: .75em;
}