/* 
RED: rgb (227, 24, 55)
BLUE: rgb (41, 68, 129) 
*/

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 20px 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-logo {
  width: 300px;
  align-self: center;
}

nav {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}

.Header nav ul,
.Header nav div ul {
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

header a {
  text-decoration: none;
}

a li {
  padding-right: 50px;
  color: rgb(41, 68, 129);
}

.icon-container img {
  width: 50px;
}

#container {
  display: none;
}
header a {
  margin: 0 0;
}

/* menu toggle */

@media screen and (max-width: 865px) {
  header {
    margin: 30px auto 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
  }

  #header-logo {
    width: 350px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #static-ul {
    display: none;
  }

  #drop-down-ul {
    flex-direction: column;
    margin-top: 20px;
    color: rgb(41, 68, 129);
  }

  .showing {
    display: block;
    flex-direction: column;
    margin-top: 20px;
    color: rgb(41, 68, 129);
  }

  .hidden {
    display: none;
  }

  /* hamburger menu */

  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(227, 24, 55);
    margin: 3px 0;
    transition: 0.4s;
  }

  .changed {
  }

  .changed .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .changed .bar2 {
    opacity: 0;
  }

  .changed .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  @media screen and (max-width: 465px) {
    .Header {
      padding: 20px;
    }
    #header-logo {
      width: 90%;
    }
  }
}
