/* 
RED: rgb (227, 24, 55)
BLUE: rgb (41, 68, 129) 
*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    width: 25%;
    align-self: center;
}

nav {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
}

a li {
    padding-right: 50px;
    color: rgb(41, 68, 129) 
}

section img {
    width: 50px;
}