/* 
RED: rgb (227, 24, 55)
BLUE: rgb (41, 68, 129) 
*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-logo {
    width: 25%;
    align-self: center;
}

nav {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
}

.Header nav ul, .Header nav div ul {
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
}


header a {
    text-decoration: none;
}

nav a li {
    padding-right: 50px;
    color: rgb(41, 68, 129) 
}

.icon-container img {
    width: 50px;
}

#mobile-menu-container {
    display: none;
}

.drop-down-container {
    display: none;
}

/* menu toggle */

@media screen and (max-width: 865px) {

    header {
        margin: 30px auto 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    #header-logo {
        width: 300px;
        margin-bottom: 30px;
    }

    .Header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0 50px; 
    }

    #static-ul {
        display: none
    }


    /* hamburger menu */

    #mobile-menu-container {
        display: flex;
        flex-direction: column;
        justify-content:center;
        cursor: pointer;
    }
  
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: rgb(227, 24, 55);
        margin: 3px 0;
        transition: 0.4s;
    }

    .changed {
        
    }
    
    .changed .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
  
    .changed .bar2 {
        opacity: 0;
    }
  
    .changed .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    #hidden {
        display: none;
    }

    #showing {
        display: block;
        margin-top: 20px;
        color: rgb(41, 68, 129); 
        
    } 

    #drop-down-ul {
        display: block;
        /* display: flex;
        flex-direction: column; */
        margin-top: 20px;
        /* color: rgb(41, 68, 129);  */
        color: white;
        /* width: 100%; */
        background-color: rgb(41, 68, 129);
        padding: 20px 0 20px 50px;
        margin: 0;
    }
    
    #drop-down-ul li {
        color: white;
        padding: 10px 0 10px 10px;
    }


    @media screen and (max-width: 465px) { 
        .Header * {
            /* padding: 20px; */
        }
        #header-logo {
            width: 90%;
            padding: 20px;
        }
        .Header nav {
            padding: 20px;
        }
        #drop-down-ul {
            padding: 10px;
        }
    }

}