/* 
RED: rgb(227, 24, 55)
BLUE: rgb(41, 68, 129) 
*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.Home a {
    text-decoration: none;
    color: white;
    background-color: rgb(227, 24, 55);
    padding: 15px 30px;
    border-radius: 10px;
}

.Home a:visited {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 100px;
}

.hero-text {
    padding-right: 50px;
    width: 500px;
}

.hero-text h1 {
    color: rgb(227, 24, 55);
    font-size: 3em;
}

.hero-text p {
    width: 60%;
    margin-bottom: 75px;
    color: black;
}

.hero-img {
    /* padding-left: 30px; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    max-width: 300px;
    height: auto;
    object-fit: contain;
}

#hero-btn:hover {
    background-color: rgb(41, 68, 129) ;
}

/* middle section */

.explore-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin: 50px auto;
}

.explore-container img {
    width: 50px;
}

.explore-container h3 {
    font-size: 1.5em;
}

.explore-container p {
    font-size: 1em;
}

.explore-container ul {
    display: flex;
    flex-direction: column;

    border-style: none none none solid; 
}

.explore-container li {
    font-size: 0.75em;
    padding: 20px;
}

.explore-container a {
    width:min-content;
    font-size: .8em;
}

.explore-container a:hover {
    font-weight: bolder;
    background-color: white;
    color: rgb(227, 24, 55);
}

.financial-assistance, .fund-growth, .maximize-potential {
    background-color: rgb(41, 68, 129);
    color: white;
    width: 20%;
    padding: 50px;
    height: min-content;
    margin: auto 0 0 0;
}

.financial-assistance {
    left: 0;
}

.financial-assistance ul, .fund-growth ul {
    margin-bottom:  30px;
}

.maximize-potential {
    /* margin-left: 50px; */
    right: 0;
}

.maximize-potential p {
    margin-bottom: 50px;
}

/* bottom section */

.investing-container {
    background: rgb(227, 24, 55);
    padding: 50px 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 400px));
    justify-content: center;
}

.bottom-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-img img {
    width: 300px;
    object-fit: contain;
}

.bottom-text {
    padding-left: 30px;
}

.bottom-text h2 {
    font-size: 2.5em;
}

.bottom-text p {
    width: 70%;
    margin-bottom: 75px;
}

.bottom-text a {
    background-color: rgb(41, 68, 129) ;
    font-weight: bolder;
}

.bottom-text a:hover {
    background-color: white;
    color: rgb(41, 68, 129);
}

@media screen and (min-width: 1625px) {

    .explore-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 60%;
        
    }

}

@media screen and (max-width: 1000px) {
    .explore-container a {
        padding: 10px 20px
    }
}

@media screen and (max-width: 920px) {

    .hero-text h1 {
        font-size: 2.5em;
    }

    .explore-container {
        width: 95%;
        justify-content: space-between;
        margin: 50px auto;
    }

    .explore-container a {
        font-size: .7em;
        padding: 10px 20px
    }

    .bottom-text h2 {
        font-size: 2.25em;
    }

}

@media screen and (max-width: 820px) {
    main {
        flex-direction: column;
        margin: 0 auto
    }

    .hero-text {
        /* grid-column-start: 0;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2; */
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .hero-text p {
        margin: 0 auto 40px auto;
    }

    .hero-img {
        /* grid-column-start: 0;
        grid-column-end: 1;
        grid-row-start: 0;
        grid-row-end: 1; */
    }

    .explore-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 40px auto;
        padding: 0;
    }

    .explore-container a {
        font-size: 1em;
        padding: 15px 30px;
    }

    .financial-assistance, .fund-growth, .maximize-potential {
        width: 80%;
        height: min-content;
        padding: 40px;
    }

    .fund-growth {
        margin: 40px 0;
    }

    .explore-icons {
        width: 50px;
    }

    .investing-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px auto;
        margin: 0;
    }

    .bottom-text {
        text-align: center;
        padding: 0;
        width: 60%
    }

    .bottom-text h2 {
        font-size: 2em;;
    }

    .bottom-text p {
        width: 100%;
    }

    .bottom-text h2

    .bottom-img img {
        width: 250px;
        object-fit: contain;
    }

}

@media screen and (max-width: 480px) {
    
    .hero-img img, .bottom-img img {
        width: 200px;
    }
    
}