* {
    font-family: 'Roboto', sans-serif;
    
}

.redirect-sign-up{
    color: rgb(41, 68, 129);
    cursor: pointer;
    font-size: small;
    margin: 10px;
}

.sign-up-title{
    color: rgb(227, 24, 55);
    font-size: 400%;
    font-weight: bold;
    margin: -10px 10px -2px;
}

.sign-up-description{
    font-size: medium;
    margin: 10px;
}

.form-input{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(41, 68, 129);
    margin: 10px;
    height: 35px;
    width: 520px;
    border-radius: 8px;
}

hr{
    margin: 50px 10px;
    border: 1px solid #ccc;
}
.group{
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;

}

.form-interest{
    height: 40px;
    width: 40px;
    /* border: 2px solid rgb(41, 68, 129);
    border-radius: 5px; */
}

/* .form-interest:hover{
    background-color: rgb(41, 68, 129);
} */

textarea.form-input{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100px;
    width: 520px;
    border-radius: 8px;
    resize: none;
}

input.btn{
    background-color: rgb(227, 24, 55);
    color: white;
    border: solid rgb(227, 24, 55);
    margin: 10px;
    width: 350px;
    height: 40px;
}


@media screen {
    
}